.gallery{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 3vh;
    min-width: 90vh;
}

.gallery > *{
    width: fit-content;
    max-height: 79vh;
    border-radius: 10px;
}